/*------------- 
Colors and fonts
Pink
#ff1bce

font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif; */

/*--------------------- Background Colors */

.bg-color-black {
    background-color: #202020;
}

/*--------------------- Nav Bar */

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fafafa;
}

.navbar-logo {
    height: 100px;
    padding: 5px;
}

.nav-items li {
    list-style-type: none;
}

.nav-section {
    margin: 0 auto;
}

.nav-item {
    display: inline;
}

.nav-link-text {
    color: #ea6ded;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 150%;
    margin-left: 25px;
}

/*--------------------- Quotes */

.index-page-quote {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #ff1bce;
    padding-top: 25px;
    letter-spacing: 1px;
    font-size: 125%;
}

/*--------------------- Home Page */

.hero-logo {
    width: 75%;
    max-width: 600px;
    display: block;
    margin:  0 auto;
    padding-top: 60px;
    padding-bottom: 25px;
}

.tagline {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    color: #ff1bce;
    text-align: center;
    padding-top: 30px;
    font-size: 150%;
    text-shadow: 0px 0px 1.5px #fafafa;
}

.home-img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.home-img-container {
    margin-top: 5%;
}

/*--------------------- Buttons */

.btn-cta {
    background-color: #ff1bce;
    display: inline-block;
    font-family: "Roboto Slab", sans-serif;
    font-size: 100%;
    letter-spacing: 0.5px;
    padding: 10px;
    border-color: #ff1bce;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7.5%;
    text-transform: uppercase;
}

.btn-cta a {
    text-transform: uppercase;
    color: #fafafa;
}

.btn-cta a:hover {
    text-decoration: none;
}

.btn-cta:hover {
    font-weight: 900;
    text-shadow: 0px 0px 4px #202020;

}

.btn-container {
    word-spacing: 30px;
    margin-top: 30px;
    height: 100%;
}

/*--------------------- Footer */

.social-icons-list {
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin: 20px auto;  
    font-size: 200%;
    
}

@media screen and (max-width: 768px) {
    .social-icons-list {
        width: 90%;
    }
}

.fab {
    color: #ff1bce;
}

.footer {
    background-color: #202020;
}
