/*------------- 
Colors and fonts
Pink
#ff1bce
rgb(255, 27, 206)

white
#fafafa

black
#202020

font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif; */

/*--------------------- Background Colors */

.bg-color-black {
    background-color: #202020;
    margin: 0;
}

/*--------------------- Bootstrap */

.row {
    margin: 0;
    padding: 0;
}

/*--------------------- Nav Bar */

.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
}
.navbar-logo {
    height: 100px;
    padding: 5px;
}

.nav-item {
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    font-size: 150%;
    margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    border-bottom: solid 2px #ff1bce;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff1bce;
}

/*--------------------- Top Banner */

.banner-quote {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #fafafa;
    padding: 25px 0px;
    letter-spacing: 1px;
    font-size: 125%;
    background-color: rgba(255, 27, 206,0.5);
    width: 100%;
}

.banner-bg-img {
    background: url("../images/oompah-exeter2.jpg") center center no-repeat;
    background-size: cover;
    background-color: #202020;
    overflow: hidden;
    padding: 0;
    margin-top: 126px;
}

.banner-bg-img h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 500%;
    color: #fafafa;
    text-transform: uppercase;
    padding-top: 30px;
    text-shadow: 0px 0px 10px #ff1bce;
    letter-spacing: 3px;
}

@media screen and (max-width: 576px) {
    .banner-quote {
        display: none;
    }
    .banner-bg-img {
        height: 150px;
        display: flex;
        align-items: center;
    }
    .banner-bg-img h1 {
        font-size: 300%;
        padding: 0;
        margin: 0 auto;
    }
}

/*--------------------- Subtitles */

.page-subtitles {
    font-family: "Roboto Slab", sans-serif;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding-top: 45px;
    text-shadow: 0px 0px 10px #ff1bce;
}

/*--------------------- Social Footer */

.social-icons-list {
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin: 0 auto;  
    font-size: 200%;
}

.fab {
    color: #ff1bce;
}

.footer {
    background-color: #202020;
    padding-bottom: 45px;
    position: sticky;
    bottom: 0;
}

.fab:hover {
    color: #fafafa;
}

.white-line-short {
    width: 20%;
    min-width: 200px;
    border: solid 2px #fafafa; 
    margin: 30px auto;
}

@media screen and (max-width: 768px) {
    .social-icons-list {
        width: 70%;
        font-size: 150%;
    }
}

/*--------------------- Home Page */

.hero-logo {
    width: 75%;
    max-width: 600px;
    min-width: 150px;
    display: block;
    margin:  0 auto;
    padding-top: 60px;
    padding-bottom: 25px;
}

.tagline {
    font-family: "Roboto Slab", sans-serif;
    color: #ff1bce;
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 150%;
}

.home-img {
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
}

.home-img img {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .hero-logo {
        display: none;
    }
}

/*--------------------- Home buttons */

.btn-cta {
    display: inline-block;
    background-color: #ff1bce;
    color: #fafafa;
    font-family: "Roboto Slab", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 5%;
    margin: 30px 10px 0px 10px;
}

.btn-cta:hover {
    text-decoration: none;
    color: #ff1bce;
    background-color: #fafafa;
} 

/*--------------------- About Page */

.about-lrg-quote {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 3px;
    color: #fafafa;
    border-radius: 3%;
}

.about-quote-container {
    border: 1px solid #ff1bce;
    border-radius: 5%;
    padding: 20px;
    width: 60%;
    min-width: 200px;
    margin: 0 auto;
}

.about-lrg-quote h3 {
    font-weight: 100;
}

.about-biography {
    font-family: "Roboto Slab", sans-serif;
    color: #fafafa;
    font-weight: 300;
    font-size: large;
    margin-top: 60px;
    margin-bottom: 45px;
    text-align: justify;
    text-justify: inter-word;
}

.about-links {
    color: #ff1bce;
}

.about-links:hover {
    text-decoration: none;
    color: rgba(255, 27, 206, 0.6)
}

.about-img {
    display: flex;
    align-items: center;
}

.about-img img {
    width: 60%;
    border-radius: 3%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #fafafa;
    }

@media screen and (max-width: 1200px) {
    .about-lrg-quote {
        display: none;
    }
    .about-biography {
        margin: 45px 0px;
    }
}

/*--------------------- Media Page */

.video-container {
    display: flex;
    justify-content: center;
    padding: 45px 20px 0px 20px;
}

.img-container {
    margin: 0 auto;
    padding-top: 45px;
}

.img-width {
    width: 35%;
    min-width: 300px;
    border-radius: 10%;
    margin: 0 auto;
}

.soundcloud-container {
    display: flex;
    justify-content: center;
}

.soundcloud-window {
    width: 50%;
    min-width: 300px;
    padding-top: 45px;
    padding-bottom: 45px;
}
@media screen and (min-width: 576px) {
    .carousel-control-next {
        right: 15%;
    }
    .carousel-control-prev {
        left: 15%;
    }
}

/*--------------------- Gigs Page */

.gigs-list {
    font-family: "Roboto Slab", sans-serif;
    color: #fafafa;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}

.gigs-list ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.gigs-description {
    display: inline-block;
    margin: 15px;
}

.fa-calendar-alt {
    font-size: 300%;
    margin: 10px;
    color: #ff1bce;
}

.gigs-description p a { 
    background-color: #ff1bce;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 3px 5px;
    border-radius: 6%;
    text-decoration: none;
}

.gigs-description p a:hover {
    color: #ff1bce;
    background-color: #fafafa;
}

@media screen and (max-width: 576px) {
    .gigs-list {
        justify-content: center;
        text-align: center;
    }
    .fa-calendar-alt {
        font-size: 150%;
    }
    .gigs-description p a {
        display: block;
        margin: 2px 60px;
    }
}

/*--------------------- Contact Page */

.contact-form {
    padding: 20px;
    font-family: "Roboto Slab", sans-serif;
}

.contact-form h3 {
    margin-bottom: 30px;
}

.form-group { 
    padding: 10px;
}

textarea {
    resize: none;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

 .submit-btn button {
    background-color: #ff1bce;
    color: #fafafa;
    font-family: "Roboto Slab", sans-serif;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5%;
}

.submit-btn button:hover {
    color:#ff1bce;
    background-color: #fafafa;
} 

.contact-img {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-img img {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0px 0px 10px #fafafa;
}